<app-base-info-topbar (toggleSideNavEmit)="toggleSideNavContainer($event)"></app-base-info-topbar>
<div style="margin-top: 64px;">
  <mat-sidenav-container> <!-- <mat-sidenav-container>：代表整個包含邊欄導覽的容器 -->
    <mat-sidenav class="blog-sidenav" mode="side" [opened]="sideNavDisplayFlag" style="border-style:outset;">
      <!-- <mat-sidenav>：實際上邊欄導覽的內容 -->
      <div>我是左邊選單</div>
      <div>我是左邊選單</div>
      <div>我是左邊選單</div>
    </mat-sidenav>
    <mat-sidenav-content class="blog-container" [class.blog-collapse]="sideNavDisplayFlag">
      <!-- <mat-sidenav-content>：導覽以外的實際內容 -->
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div class="blog-footer bg-color" [class.blog-collapse]="sideNavDisplayFlag">
  <app-footer></app-footer>
</div>
